.filters_container {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
    margin-left: 64px;
    align-items: end;
}

.filter_label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.filter_name {
    margin-left: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    color: #8A8A89;
}

select {
    width: 220px;
    padding: 14px;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11;

    border-radius: 14px;
    background: #FFF;
    border: none;

    cursor: pointer;
    outline: none;

    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
}

select,
::picker(select) {
    appearance: base-select;
}

::picker(select) {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 12.8px 28.8px rgba(0, 0, 0, 0.13), 0px 0px 9.2px rgba(0, 0, 0, 0.11);
    border: none;
    margin-block-start: 0.5rem;
    padding: 14px;
}

option::checkmark,
select::picker-icon {
    display: none;
}

option {
    padding: 4px;
    color: rgba(18, 20, 23, 0.20);;

    &:hover,
    &:active {
        color: #121417;
        background-color: transparent;
    }
}

.filter_selector_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    align-self: center;
    transition: rotate 0.25s;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.49 42.37'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23221f20; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M3.96,0h58.57c3.37,0,5.2,3.95,3.01,6.52l-29.28,34.46c-1.58,1.86-4.45,1.86-6.03,0L.95,6.52C-1.23,3.95.59,0,3.96,0Z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(4);
    width: 0.5rem;
    height: 0.5rem;

    .filter_selector:open & {
        rotate: x 180deg;
    }
}

[hidden] {
    display: none;
}

.clear_btn {
    width: auto;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: var(--main-color);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
}