.home {
    display: grid;
    grid-template-areas: 
    "hero image"
    "stat stat";
    grid-template-columns: 720px 568px;
    grid-template-rows: 530px 116px;
    gap: 24px;
}

.hero_container {
    grid-area: hero;
    border-radius: 30px;
    background: #F8F8F8;

    padding-left: 64px;
    padding-right: 108px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero_title {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.96px;

    margin-bottom: 32px;
}

.hero_title>span {
    background-color: var(--bg-color)
}

.hero_text {
    width: 471px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: -0.32px;

    margin-bottom: 64px;
}

.hero_link {
    display: inline-flex;
    padding: 16px 88px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: var(--main-color);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
}

.image_container {
    grid-area: image;

    border-radius: 30px;
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: end;
}

.image_img {
    position: absolute;
    bottom: 111px;
}

.image_laptop {
    width: 360px;
    height: 172px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        to bottom, 
        var(--laptop-color-1), 
        var(--laptop-color-2));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 2;
}

.statistics {
    grid-area: stat;

    padding: 40px 122px;

    background-image: repeating-linear-gradient(90deg, var(--main-color), var(--main-color) 12px, transparent 12px, transparent 16px), repeating-linear-gradient(180deg, var(--main-color), var(--main-color) 12px, transparent 12px, transparent 16px), repeating-linear-gradient(90deg, var(--main-color), var(--main-color) 12px, transparent 12px, transparent 16px), repeating-linear-gradient(180deg, var(--main-color), var(--main-color) 12px, transparent 12px, transparent 16px);
    background-position: left top, right top, left bottom, left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
}

.statistics_list {
    display: flex;
    gap: 100px;
}

.statistics_list_item {
    display: flex;
    gap: 16px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;

    color: rgba(18, 20, 23, 0.7);
}

.statistics_list_item_amount {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.56px;
    color: rgba(18, 20, 23, 1);
}