.auth_nav {
    display: flex;
    gap: 14px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.auth_nav_login {
    display: flex;
    gap: 8px;
    align-items: center;
}

.auth_nav_login_icon,
.auth_nav_logout_icon {
    stroke: var(--main-color);
    stroke-width: 2px;
}

.auth_nav_register {
    display: flex;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: #121417;

    color: #fff;
}

.auth_nav_user {
    display: flex;
    gap: 8px;
    align-items: center;
}

.auth_nav_user_icon {
    fill: var(--main-color);
    width: 24px;
    height: 24px;
}

.auth_nav_user_name {
    font-weight: 500;
}

.auth_nav_logout {
    border: none;
    background-color: transparent;

    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 16px;
}