.auth_modal {
    top: 80px;
}

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    margin-top: 40px;
}

.modal_form_input_wrap {
    position: relative;
}

.modal_form_input {
    width: 100%;
    padding: 16px 18px;
    border-radius: 12px;
    border: 1px solid rgba(18, 20, 23, 0.10);

    color: #121417;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.38;
}

.err {
    color: red;
    font-size: 12px;
}

.modal_form_toggle {
    position: absolute;
    bottom: 17px;
    right: 18px;
}

.auth_required_modal {
    background-color: #F8F8F8;
    top: 88px;
}

.auth_link {
    color: var(--laptop-color-2);
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    padding: 0 4px;
}